/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
VERY RETRO */

.retro-content {
    background: #0a0a0a;
    color: #66d9ff;
    min-height: calc(100vh - 80px);
    font-family: "Press Start 2P", monospace;
}

body {
    margin: 0;
    background: #0a0a0a;
    font-family: "Press Start 2P", monospace;
    color: #66d9ff;
}

a {
    color: #66d9ff;
}

a:hover {
    text-decoration: underline;
}
