<div class="content-grid">
    <div class="following">
        following
    </div>

    <div class="stream">
        <video id="video" controls autoplay>
            <source src="http://localhost:8080/live/streamer1/index.m3u8" type="application/x-mpegURL" />
            Your browser does not support HLS.
        </video>

        <div class="streamer-info" style="grid-column: 2; grid-row: 2">
            <h2>Streamer Name</h2>
            <p>Description</p>
        </div>
    </div>

    <div class="chat">
        <app-chat></app-chat>
    </div>
    
</div>